<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quán lý dự án</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dự án
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" routerLink="/duanThem"
                >Thêm dự án</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/duanList"
                >Danh sách dự án</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Task
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" routerLink="/taskThem"
                >Thêm task</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/taskList"
                >Danh sách task</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nhân viên
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" routerLink="/nvThem"
                >Thêm nhân viên</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/nvList"
                >Danh sách nhân viên</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tài khoản
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" routerLink="/userLogin"
                >Đăng nhập</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/userRegister">Đăng ký</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/userChangePass">Đổi mật khẩu</a>
              <a class="dropdown-item" href="#" (click)="logout()">Thoát</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/quenMatKhau"
                >Quên mật khẩu</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" ngClass="float-end">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Tìm kiếm"
          name="keyword"
        />
        <a href="javascript:void(0);" class="t-search-submit-btn search">
          <span class="t-search-icon">
              <svg width="12" height="12" viewBox="0 0 12 12">
                  <path d="M12.000,10.909 C12.000,11.999 10.909,11.999 10.909,11.999 L7.788,8.879 C6.979,9.467 5.986,9.818 4.909,9.818 C2.198,9.818 -0.000,7.620 -0.000,4.909 C-0.000,2.197 2.198,-0.000 4.909,-0.000 C7.620,-0.000 9.818,2.197 9.818,4.909 C9.818,5.986 9.467,6.978 8.879,7.788 L12.000,10.909 ZM4.909,1.091 C2.800,1.091 1.091,2.800 1.091,4.909 C1.091,7.017 2.800,8.727 4.909,8.727 C7.017,8.727 8.727,7.017 8.727,4.909 C8.727,2.800 7.017,1.091 4.909,1.091 Z" fill="#fff"></path>
              </svg>
          </span>
      </a>
      </form>
    </div>
  </div>
</nav>

<div class="main mt-3">
  <app-leader class="leader"></app-leader>
  <div class="info-project">
    <main class="main_container">
      <!-- <app-duan-chi-tiet (teamOut)="dataTeam($event)"></app-duan-chi-tiet> -->
      <router-outlet (activate)="dataTeam($event)"> 
        <div class="main-intro">
            <div class="intro-header">
                <h3 class="intro-title">Welcome you come to us</h3>
                <p class="text-danger"> Tình trạng đăng nhập: {{ isLogined() }}</p>
            </div>
            <!-- <div class="intro-content">
                <div class="intro-des">
                    <div class="intro-detail">
                      <p class="intro-text">This is a project to manage many projects, memebers and tasks. You can CRUD actions.</p>
                    </div>
                </div>
            </div> -->
        </div>
      </router-outlet>
    </main>
  </div>
  <app-list-member style="display: none ;" class="list-member" [team]="team"></app-list-member>
</div>
<div class="footer mt-3">
  <div class="footer-content flex">
     <p class="footer-desc text-center fw-bold fs-4">
        <span>PS15213</span>
        <span>- Lê Vũ Trung</span>
        <span>- Web208</span>
        <span>- Project</span>
     </p>
  </div>
</div>