.sp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  .card {
    width: calc((100% - 10px) / 3);
    a {
      color: #000;
      text-decoration: none;
    }
    p {
      margin-bottom: 5px;
    }
  }
  .fit-height {
    height: fit-content;
  }
}
.btn-action {
  display: flex;
  flex-direction: column;
  margin-top: auto;

}
.card-header {
  padding: 8px 6px;
  background-color: #04B2F7;
}
.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin:0;
  padding: 0;
  *> a{
    display: block;
  }
}
.card-content{
  border-radius: 5px;
}
.btn-color {
  &:hover {
    color: #fff !important;
  }
}