<div class="btn_find">
  <select
    class="form-select"
    aria-label="Default select example"
    (change)="onChange($event.target)"
  >
    <option
      *ngFor="let duAnSelect of allDuAn"
      [value]="duAnSelect.id"
      [selected]="duAnSelect.id == idDuAn"
    >
      {{ duAnSelect.tenDuAn }}
    </option>
  </select>
</div>
<div class="row_table">
  <h4>{{ duAn.tenDuAn }}</h4>
  <div class="table1">
    <div class="title_table bg-info" style="font-size: 16px; font-weight: 600;">Chi tiết dự án</div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Chi phí dự án</th>
          <td>{{ duAn.tien | currency: "VND":true:"1.0-3" }}</td>
        </tr>
        <tr>
          <th scope="row">Hiện tại đã chi</th>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Còn lại</th>
          <td>{{ duAn.tien | currency: "VND":true:"1.0-3" }}</td>
        </tr>
        <tr>
          <th scope="row">Số lượng nhân viên</th>
          <td>{{ totalNorth + totalCentral + totalSouth }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
