<div class="card" style="width: 100%">
  <!-- <div class="card-header">Trưởng nhóm</div> -->
  <div class="card-img">
    <img
      src="../../assets/image1.jpg"
      class="card-img-top"
      alt=""
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Quản lý dự án</h5>
    <p class="card-text">Tóm tắt về team</p>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Số lượng thành viên
      <span class="badge bg-primary rounded-pill">{{ listNv.length }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Tổng chi phí của tất cả dự án
      <span class="badge bg-primary rounded-pill">{{ totalPrice }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Các task đang xử lý
      <span class="badge bg-primary rounded-pill">{{ totalTask }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Dự án đang triển khai
      <span class="badge bg-primary rounded-pill">20%</span>
    </li>
  </ul>
  <div class="card-body">
    <p class="card-text">Khách hàng</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">FPT Software</li>
    <li class="list-group-item">TMA Solution</li>
    <li class="list-group-item">Hiteck media</li>
  </ul>
</div>
