/* You can add global styles to this file, and also import other style files */
.btn-finish {
    display: flex;
    justify-content: center;
    
  }
  .info-project {
    width: 73%;
  }
  .card-content {
    background-color: #f2f2f2;
  }
  .card-heading-title {
    background-color: #04B2F7;
    padding: 1rem 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
  }
  .btn-edit {
    background-color: #CC0000
  }
  .flex {
        
  }